#button{
	background-color: black;
}
::-webkit-scrollbar{
	width: 5px;
	border-radius: 10px;
}

::-webkit-scrollbar-corner{
	background-color: transparent;
}

::-webkit-scrollbar-track{
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	background-color: orange;
}

::-webkit-scrollbar-thumb:hover{
	background-color: transparent;
}
#nav
{
  position: fixed;
  background-color:transparent; 
  z-index: 100; 
  width:100%; 
  box-shadow: none;
}

#div1
{
  margin-left: 15px; 
  padding-top: 3px; 
  margin-bottom: -10px;"
}
#div2
{
  text-align: center;
  float: center;
}
#div3
{
  margin-top:-45px; 
  text-align: center; 
  opacity: 0.6;"
}
#div4
{
  float: center;
}
#div5
{
  float: center;
  text-align: left;
  margin-right: 0px;
  margin-top: -10px;
  border: 0px solid orange;
  opacity:0.8; 
  width: 60%;
}
#div6
{
  text-align: center;
  float: center;
}
#div7
{
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
}
#login1
{
  float: center; 
  text-align: center; 
  margin-right: 0px; 
  margin-top: 13px; 
  border: 1px solid orange; 
  opacity: 0.8; 
  width: 100%;"
}
#login2
{
  float: center;
  text-align: left;
  margin-right: 0px;
  margin-top: 13px;
  border: 1px solid orange;
  opacity:0.8;
  width: 60%;
}
#username
{
  color: black;
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
  padding-left: 15px;
}
#mypassword
{
  color: black;
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
  padding-left: 15px;
}
#forgotpassword
{
  padding-top: -10%;
  text-align: center;
  float: center;
  border-radius: 20px;
  text-decoration: underline;
}
#forgotten
{
  padding-top: -10%;
  text-align: center;
  float: center;
  border-radius: 20px;
  text-decoration: underline;
  height: 100%;
}
#cc
{
  padding-top: -10%;
  text-align: center;
  float: center;
  border-radius: 20px;
  text-decoration: underline;
}
#time
{
  font-size: 30px;
  opacity: 0.6;
}
#UTC
{
  font-size: 20px;
  opacity: 0.6;
}
#register
{
  padding-top: -10%;
  text-align: center; 
  float: center;
  border-radius: 20px;
  text-decoration: underline;
  height: 100%;
}
#date
{
  text-align: right;
  float: right;
  opacity: 0.6;
}
#a1
{
  margin-left: 10px;
  padding-top: 9px;
  margin-top:-7px;
  margin-bottom: -10px;
}
#a2
{
  float: right;
  text-align: right;
  margin-right: 15px;
  margin-top: 13px;
  border: 1px solid orange;
  opacity:0.8;
}
#span1
{
  z-index: 100;
}
.carousel
{
  height: 100%;
  width: 100%;
}
#carousel
{
  height: 90%;
  width: 100%;
}
#logo
{
  border-radius: 100%;
}
#cont
{
  border: 0px solid transparent; 
  padding:0!important;
}
/*NAV*/
#nav1{
  position: fixed; background-color:transparent; z-index: 100; width:100%; box-shadow: none;
}
#nav2{
  margin-left: 15px; padding-top: 3px; margin-bottom: -10px;
}
#nav3{
  float: center; text-align: center; margin-right: 0px; margin-top: 13px; border: 1px solid orange; opacity:0.8; width: 100%;
}
#nav4{
  float: center; text-align: left; margin-right: 0px; margin-top: 13px; border: 1px solid orange; opacity:0.8; width: 60%
}
#nav5{
  margin-top:-60px;
}
#nav6{
  margin-top:-45px; text-align: center; opacity: 0.6;
}

#rm1{
	text-align: center; margin-left:-35px;
}
#fp1{
	text-decoration: none;
}
#intro1{
	text-align: center;
}
#intro2{
	color: orange;
}
#about1{
	background-color: white;
}
#about2{
	text-align: center; background-color: white;
}
#about3{
	font-color: black; color: black; font-weight: bold;
}
#hr{
	width: 50%;
}
#mv1{
	text-align: center; border: 0px solid white;
}
#mv2{
	text-align: center; border: 1px solid white; border-radius: 20px;
}
#mv3{
	font-size: 15px;
}
#mv4{
	text-align: center; border: 1px solid white; border-radius: 20px;
}
#cu{
	font-color: black; color: black; font-weight: bold;
}
#cu1{
	text-align: center; border: 0px solid white; border-radius: 20px; margin-top: 9%;
}
#cu2{
	text-align: center; border: 1px solid black; border-radius: 20px;
}
#cu3{
	border-radius: 10px;
}
#cu4{
	border: 1px solid black; border-radius: 20px; text-align: center;
}
#cu5{
	border-radius: 10px;
}
