header, .main, footer {
    padding-left: 300px;
  }

html{
  height:100%;
}

body{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.main{
  position: relative;
  width: 100%;
  height: 100%;
}

.dashboard{
  height:95%;
  overflow: hidden;
}

.dashboard_main{
  height:100%;
  overflow: hidden;
}

.sidenav{
  height: 100%!important;
}

.sidenav .user-view{
  margin:0;
  padding: 20px;
}

.sidebar-item-container{
  margin: 0;
}

.sidebar-item{
  box-sizing: border-box;
  padding: 10px!important;
  
}

.accordnav{
  width: 100%;
}

.page-title h4{
  margin: 1.40rem 0 .912rem 0!important;
}

input#searchbar{
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 45px 0 45px;
}

label.label-icon{
  padding-top: 5px;
}

#search-close{
  padding-top: 8px;
}

textarea.materialize-textarea{
  resize: none;
  min-height: 190px;
  max-height: 190px;
  overflow-y: scroll;
}

.map{
  height: 100%;
}

#notif{
  padding: 10px;
  overflow: auto;
}

.page-title{
  padding-left: 20px;
}

ul.tabs.show-on-small-only.hide-on-med-and-up{
  margin-top: 5px;
}

.product-card{
  padding: 10px;
}

.product-card .card-image{
  width: 150px; 
  height: 150px; 
  margin: 0 auto;
  border: 1px black;
}

#product-photo{
  width: 250px;
  height: 250px;
}
#product-photo img{
  height: inherit;
  width: inherit;
}

.card-image.card-product-photo{
  height: 126px;
  max-height: 130px;
  overflow: hidden;
}
.card-dashboard{
  height: 280px;
}

.card-dashboard .card-image{
  height: 120px;
  max-height: 120px;
  overflow: hidden;
}

.card-dashboard-town{
  height: 360px;
}

.card-dashboard-town .card-content{
  height: 150px;
  padding: 10px;
}

.card-dashboard-town .card-image{
  height: 150px;
  max-height: 150px;
  overflow: hidden;
}

.card-album-entry, .card-events{
  height: 300px;
}

.card-album-entry .card-content{
  height: 150px;
  padding: 10px;
}

.card-album-entry .card-image, .card-events .card-image {
  height: 150px;
  max-height: 150px;
  overflow: hidden;
}

.card-image img.col.s12.m12.l12{
  padding: 0px!important;
}

.card-content.card-product-content {
  padding: 10px;
}

span.card-title.card-product-title,
.card-title-background{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 25px!important;
}

.card.card-product{
  height: 170px;
  max-height: 170px;
}

.modal-footer-ps{
  height: 75px!important;
  overflow: hidden;
}

.user-photo{
  width: 250px; 
  height: 250px; 
  border: 1px solid orange; 
  border-radius: 100%;
  box-shadow: 0px 5px rgba(75, 75, 75, 0.6);
}

span.profile-details{
  margin-left: 10px; 
  font-size: 20px;
}

/* favorites */
.td-fave-note{
  width: 350px;
  max-width: 350px;
}

a #prod-price:link{
  color: black;
}
::-webkit-scrollbar{
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-corner{
  background-color: black;
}

::-webkit-scrollbar-track{
  background-color: gray;
}

::-webkit-scrollbar-thumb{
  background-color: orange;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #ffcc00;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{
  display: none!important;
}

div#example_length{
  display: none;
}

.card-business-photo{
  height: 250px!important;
}

.carousel-item.carousel-business-photo img{
  display: block;
  width: auto;
  height: 250px;
  max-width:100%;
  max-height: 250px;
  margin: 13% auto;
}

.carousel.carousel-slider, a.carousel-item.carousel-business-photo.modal-trigger.active{
  height: 250px;
  max-height: 250px;
}

.slider.full-screen-slider li.active{
  position: absolute;
  height: 100%!important;
  width: 100%!important;
}

div.product-image{
  width: 100%;
  height: 250px;
}

div.product-image img{
  max-width: 100%;
  width: auto;
  height: 100%;
  display: block;
}

div.poster-image{
  width: 100%;
  height: 400px;
}

div.poster-image img{
  display: block;
  max-width: 100%;
  width: auto;
  height: 100%;
}

div.primary-photo img{
  display: block;
  max-width:100%;
  max-height: 100px;
  width: auto;
  height: 100%;
  margin: auto;
}

.overflow-modal{
  overflow: hidden!important;
}

div.card.card-featured-options .card-content{
  padding: 0!important;
}

.modal.modal-business-photo img{
  display: block;
  max-width: 100%;
  width: auto;
  height: 100%;
  max-height: 100%;
  margin: auto auto;
}

.modal.modal-business-photo{
  height: 550px!important;
  max-height: 550px!important;
  width: 80%!important;
}

.slider .slides li img{
  display: block;
  max-width: 100%;
  width: auto;
}

div#back-to-top{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.album-container{
  margin: 10px;
}

.page-title h4{
  font-size: 1.8rem!important;
}

span.avatar{
  width: 50px;
  height: 50px;
}

span.avatar img{
  width: 100%;
  height: 100%;
}

.no-data{
  padding-top: 100px;
}

span.card-title{
  word-break: break-all;
}

.businesslists{
  width: 100%;
}

span#reason{
  padding-left: 10px;
}

.content-description{
  max-width: 250px; 
  word-break: break-all;
}

/* .businesslists.active{
  background-color: #ffab0f9f!important;
  color: black!important;
} */

.dataTables_empty{
  text-align: center;
}


.div-bottom-card{
  position: fixed;
  bottom: 0px;
  width: 100%;
}

@media only screen and (max-width : 992px) {
  header, .main, footer {
    padding-left: 0;
  }

  .modal.modal-business-photo{
    height: 280px!important;
    max-height: 280px!important;
    width: 100%!important;
    margin: 0;
  }

  .card-album-entry, .card-events{
    height: 310px;
  }
  
  .card-album-entry .card-content{
    height: 90px;
    padding: 10px;
  }
  
  .card-album-entry .card-image, .card-events .card-image {
    height: 150px;
    max-height: 150px;
    overflow: hidden;
  }
}

@media only screen and (max-width : 320px) {
  header, .main, footer {
    padding-left: 0;
  }
  .main.dashboard{
    position: relative;
    height: 80%;
  }
  .dashboard{
    overflow: visible;
  }
  .modal{
    overflow: auto;
  }
  .input-field{
    width: 100%;
  }
  .input-field .prefix ~ label {
    margin-left: 0;
  }

  .input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .helper-text, .input-field .prefix ~ .autocomplete-content {
    margin-left: 0;
    width: 100%;
  }

  .input-field.col label {
    left: .75rem;
  }

  .prefix ~ label {
    margin-left: 0;
  }

  textarea.materialize-textarea{
    resize: none;
    min-height: 210px;
    max-height: 210px;
    overflow-y: scroll;
  }
  h4{
    font-size: 24px;
    margin-top: 5px;
  }

  h5{
    font-size: 20px;
    font-weight: 600;
  }

  th{
    font-size: 12px;
    font-weight: 700;
  }

  td{
    font-size: 11px;
  }

  div.material-table table tr td{
    padding-left: 0!important;
  }

  .card-business-photo{
    height: 250px!important;
  }
  div.card-action a{
    margin: 0!important;
  }
  
  .page-title{
    padding-left: 10px;
    margin: 10px;
    max-width: 250px;
    padding-top: 4px;
  }

  .page-title h4{
    font-size: 1.4rem!important;
  }

  div.section.top-section{
    display: none;
  }

  span.card-title{
    font-size: 20px!important;
  }

  div.primary-photo img{
    display: block;
    max-width:100%;
    max-height: 100px;
    width: auto;
    height: 100%;
    margin: auto;
  }

  div.modal-content{
    padding: 10px;
  }

  .tabs .tab a{
    padding: 0 10px!important;      
  }

  .card-image.card-product-photo{
    /* height: 80px; */
    max-height: 80px;
    overflow: hidden;
  }

  .card-content.card-product-content {
    padding: 10px;
  }

  .modal-footer-ps{
    height: 70px!important;
    overflow: hidden;
  }
  span.card-title.card-product-title{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 5px!important;
  }

  .card.card-product{
    height: 130px;
    max-height: 130px;
  }
  
  .user-photo{
    width: 150px; 
    height: 150px; 
    border: 1px solid orange; 
    border-radius: 100%;
    box-shadow: 0px 5px rgba(75, 75, 75, 0.6);
  }

  span.profile-details{
    margin-left: 10px; 
    font-size: 15px;
  }

  /* favorites */
  .td-fave-note{
    width: 150px!important;
    max-width: 150px!important;
  } 
  th.sorting{
    padding-left: 10px!important;
  }

  .modal.modal-business-photo{
    height: 500px!important;
    max-height: 500px!important;
    width: 100%!important;
    margin: 0;
  }

  .card-album-entry, .card-events{
    height: 310px;
  }
  
  .card-album-entry .card-content{
    height: 90px;
    padding: 10px;
  }
  
  .card-album-entry .card-image, .card-events .card-image {
    height: 150px;
    max-height: 150px;
    overflow: hidden;
  }
}

@media only screen and (min-width : 993px) {
  .div-bottom-card{
    width: 78%;
  }
}